.container {
  background-color: #c20d00;
}

.items {
  padding: 20px;
}

.main {
  color: #ffce00;
  margin: 20px;
}

.sub {
  color: white;
}

.center {
  text-align: center;
}

ul {
  padding: 5px;
  background: gray;
}

.label {
  font-weight: bold;
}

.create-form {
  padding: 20px;
  background: #ffce00;
}